<div nz-row>
    <ng-template #emptyChat>
        <div style="display: flex; flex-direction: column; margin-top: 120px;">
            <span nz-icon nzType="message" nzTheme="outline" style="font-size: 100px;"></span>
            <p style="margin-top: 20px;">Start chat with Gemini AI!</p>
        </div>
    </ng-template>

    <div nz-col [nzSpan]="14" nzOffset="5" style="height: 100vh; width: 100%;">
        <div #chatContainer style="overflow-y: scroll; -webkit-overflow-scrolling: touch; max-height: 90vh;">
            <nz-list [nzDataSource]="messages" [nzRenderItem]="item" [nzItemLayout]="'horizontal'" [nzNoResult]="emptyChat" style="padding: 10px 20px">
                <ng-template #item let-msg>
                    <nz-comment [nzAuthor]="msg.author">
                        <nz-avatar nz-comment-avatar [nzIcon]="msg.avatarIcon" style="background-color: #3FA9FF;"></nz-avatar>
                        <nz-comment-content>
                        <p>{{ msg.content }}</p>
                        </nz-comment-content>
                    </nz-comment>
                </ng-template>
            </nz-list>
        </div>

        <div style="display: flex; flex-direction: column; position: absolute; width: inherit; bottom: 0; padding: 20px;">
            <ng-container *ngIf="waitingResponse">
                <div style="display: flex; justify-content: center; margin-bottom: 20px;">
                    <nz-spin nzSimple></nz-spin>
                </div>
            </ng-container>
            
            <div>
                <form action="#" style="display: flex; gap: 8px;" [formGroup]="messageForm" (ngSubmit)="sendWithStream()">
                    <input nz-input placeholder="Type here..." formControlName="message" type="text" />
                    <button nz-button nzType="primary" nzShape="circle" [disabled]="waitingResponse"><span  nz-icon nzType="send"></span></button>
                </form>
            </div>
        </div>
    </div>
</div>
